*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width:50%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin:15px 25px;
}

.form-container {
    flex: 0.7;
    width: 30%;
    margin-right: 0.5px;
    padding: 4%;
    border: 1.5px solid #ccc;
    border-radius:15px 0px 0px 15px;
    /* box-shadow: 5 5 20px rgba(126, 108, 230, 0.1); */
    box-shadow: 10px 10px 5px 12px rgb(19, 18, 18); 
}

.form-container h1 {
    margin-top: 0;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-container input,
.form-container textarea {
    width: 53%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-info {
    flex: 0.5;
    padding: 20px;
    border-radius: 0px 15px 15px 0px;
    background-color: #007bff;
    color: white;
    box-shadow: 10px 10px 10px 10px rgb(19, 18, 18); 
}

.contact-info h2 {
    margin-top: 30px;
    margin-bottom: 75px;
    text-align: center;
}

.contact-info p {
    margin: 30px;
    padding-left: 15px;
    padding-bottom: 20px;

   
}
.fa-solid,.fa-regular{
    padding-right: 10px;
    font-weight: bolder;
    font-size: larger;

}
span{
    font-weight: bolder;
     font-size: 20px;
     padding-right: 5px;
}